.container--card {
  position: relative;

  .card__content {
    width: 100%;
    border: 1px solid rgba(45, 156, 219, 0.25);
    border-radius: 10px;
    box-sizing: border-box;
    padding: 8px 16px 8px 8px;
    transition: all 0.4s;
    background-color: var(--white);
    position: relative;
    display: flex;

    &:hover {
      box-shadow: 0px 4px 6px 2px rgba(47, 128, 237, 0.24);
      cursor: pointer;
    }


    .card__image {
      border-radius: 10px;
      width: 80px;
      min-width: 80px;
      height: 80px;
      min-height: 80px;
      overflow: hidden;
      margin-right: 16px;

      img {
        width: 100%;
      }
    }

    .card__text {
      .text--card {
        margin-top: 8px;
      }
    }
  }
}