.page--register {
  box-sizing: border-box;
  width: 100%;
  padding: 32px;
  position: relative;

  .register__form {
    margin: 56px 0;

    .container {
      margin-bottom: 32px;
      input {
        margin-top: 16px;
      }
    }
  }

  .text--main {
    margin-bottom: 8px;
  }


  .button {
    font-family: "Dm Sans", "Work Sans", sans-serif;
    color: var(--white);
    font-size: 2.4rem;
    font-weight: bold;
    box-sizing: border-box;
    background-color: var(--blue-n2);
    padding: 16px 32px;
    border: none;
    border-radius: 10px;
    transition: all .4s;
    display: block;
    margin: auto;

    &:hover {
      background-color: var(--blue-n1);
      box-shadow: 0px 6px 8px rgba(47, 128, 237, 0.25);
      cursor: pointer;
    }
  }
}