.input--default {
  font-family: DM Sans;
  padding: 0;
  border-radius: 10px;
  border: solid 1px var(--black-n2);
  width: 100%;
  height: 48px;
  padding-left: 16px;
  box-sizing: border-box;
  background-color: var(--white);
  color: var(--blue-n2);
  font-size: 1.6rem;
  &::placeholder {
    color: var(--black-n2);
  }

  &:focus {
    outline: none;
    box-shadow: 0px 2px 8px rgba(45, 156, 219, 0.25);
    border: solid 1px var(--blue-n2);
  }
}


.button {
  font-family: "Dm Sans", "Work Sans", sans-serif;
  color: var(--white);
  font-size: 2.4rem;
  font-weight: bold;
  box-sizing: border-box;
  background-color: var(--blue-n2);
  padding: 16px 32px;
  border: none;
  border-radius: 10px;
  transition: all .4s;
  display: block;
  margin: auto;

  &:hover {
    background-color: var(--blue-n1);
    box-shadow: 0px 6px 8px rgba(47, 128, 237, 0.25);
    cursor: pointer;
  }
}

.button--small {
  font-family: "Dm Sans", "Work Sans", sans-serif;
  color: var(--blue-n2);
  font-size: 1.6rem;
  font-weight: bold;
  box-sizing: border-box;
  background-color: var(--white);
  padding: 8px 16px;
  border: none;
  border-radius: 10px;
  transition: all .4s;
  display: block;
  margin: auto;

  &:hover {
    background-color: var(--white-n2);
    box-shadow: 0px 6px 8px rgba(213, 223, 236, 0.25);
    cursor: pointer;
  }
}