*[class^="text--"] {
  font-family: "Dm Sans", "Work Sans", sans-serif;
  color: var(--black-n1);
  font-size: 1.6rem;
  line-height: 2rem;
}

.text--card {
  color: var(--black-n2);
}

.text--title {
  font-family: "Volkhov", serif;
  font-size: 3.6rem;
  line-height: 3.6rem;
}

.text--label {
  font-size: 2.4rem;
}