.page--home {
  position: relative;

  .container--cards {
    box-sizing: border-box;
    width: 100%;
    padding: 16px;
    position: relative;

    .container--card {
      margin-bottom: 24px;
    }
  }

  .container--pagination {
    width: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;

    .pagination__chevron {
      width: 38px;
      height: 38px;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        cursor: pointer;
      }

      &:last-of-type {
        img {
          transform: rotate(180deg);
        }
      }
    }
  }

  .container--popup {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;

    .popup__cross {
      position: absolute;
      width: 32px;
      height: 32px;
      top: 0;
      right: 5%;
      background-color: var(--blue-n2);
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: var(--z-index-2);
      transition: all 0.4s;

      @include mq-up(md) {
        right: calc(10% - 16px);
      }

      &:hover {
        box-shadow: 0px 4px 4px rgba(47, 128, 237, 0.25);
        cursor: pointer;
      }
    }
  }
}
