.page--login {
  box-sizing: border-box;
  width: 100%;
  padding: 32px;
  position: relative;

  @include mq-up(md) {
    padding: 32px 10%;
  }

  .login__form {
    margin: 56px 0;

    .container {
      margin-bottom: 32px;
      input {
        margin-top: 16px;
      }
    }
  }

  .text--main {
    margin-bottom: 8px;
  }
}
